* {
  box-sizing: border-box;
}

.app {
  font-family: sans-serif;
  text-align: center;

  margin: 0 auto;
  max-width: 600px;

  font-size: 22px;
}

/**
 * I would normally use a pre-processor, like sass to organize my modules
 * and encourage BEM, but that's not being graded today
 */

/**
 * Buttons
 */
.button {
  background: transparent;
  border: 1px solid #222;
  margin: 0 10px;
  padding: 15px 50px;
}

.button:hover {
  cursor: pointer;
}
/**
 * Choices
 */
.choice__list {
  list-style-type: none;
  text-align: left;
}

.choice {
  font-family: monospace;
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid transparent;
}

.choice:hover {
  background: #f0f0f0;
  cursor: pointer;
  transition: background, .2s;
}

.choice--incorrect {
  text-decoration: line-through;
  border: 1px solid red;
}

.choice--correct {
  border: 1px solid green;
}

/**
 * Questions
 */
.question__result {
  font-style: italic;
}

/**
 * Results
 */
.results {
  font-size: .8em;
  text-align: left;
}

.results__answer {
  font-family: monospace;
}

.results__answer--correct {
  color: green;
}

.results__answer--incorrect {
  color: red;
}

.results__item {
  padding-left: 50px;
}
